
.mb-70{
    margin-bottom: 6.25rem;
}
ul{
    list-style: none;
    padding: 0;
}

a:link,
a:visited{
    text-decoration: none;
}

.section{
    padding: 100px 0;
}

.mb-120{
    margin-bottom: 120px;
}