<footer class="section footer">
    <div class="container">
        <div class="row mb-120">
           <div class="col-md-10 offset-md-1 text-center">
            <h2 class="pri-heading">
                Keep in touch with us
            </h2>
            <h3 class="sec-heading">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum. Donec rutrum sed sem quis venenatis.             
            </h3>
            <form class="form-inline">
                <label class="sr-only" for="email">Name</label>
                <input type="text" class="form-control email mb-2 mr-sm-2" id="email" placeholder="Enter Your Email">
              
                <button type="submit" class="btn pri-button mb-2">Submit</button>
              </form>
              <app-icons [iconsArray]="iconsListArray"></app-icons>
           </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <address class="address">
                    <p>HALOVIETNAM LTD</p>
                    <p>66, Dang Van Ngu, Dong Da</p>
                    <p>Hanoi, Vietnam</p>
                    <p>
                        <a href="mailto:contact@halovietnam.com">
                            Contact@Halovietnam.Com
                        </a>
                    </p>
                    <p>
                        <a href="tel:8754689564">
                            8754689564
                        </a>
                    </p>
                </address>
            </div>
            <div class="col-md-1 offset-md-1" *ngFor="let fLink of footerLink">
                <app-icons
                [ulClassName]="'footerLinks'"
                [iconsArray]="fLink"
                ></app-icons>
            </div>
        </div>
    </div>
</footer>
